body {
    margin: 0;
    min-height: 100vh;
    background-image: url("assets/backgrounds/q5B.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "rubik-medium"
}

@font-face {
    font-family: "rubik-medium" ;
    src: url("assets/fonts/Rubik-Medium.ttf");
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px 16px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bislamchIcon {
    position: absolute;
    width: 10%;
    height: 70%;
    top: 5%;
    left: 10%;
}

.gapaIcon {
   position: relative;
    width: 34%;
    height: 120%;
    top: 0%;
    left: 10%;
}

.peleIcon {
    position: absolute;
    width: 20%;
    height: 40%;
    top: 20%;
    right: 3%;
    transition: transform 0.6s ease;
}

.peleIcon:hover {
    transform: rotate(360deg);
}

.steps {
    position: absolute;
    top: 95%;
    left: 5%;
}

.qTitle {
    position: absolute;
    right: 0%;
    top: 6%;
}

.timerBlob {
    position: absolute;
    right: 70%;
    top: 8%;
}

#timerQ51 {
  font-size: 1.8rem;
  color: #F5CC8E;
  margin-bottom: 20px;
  position: absolute;
  right: 72.8%;
  top: 8.5%;
}

.instructions{
    position: absolute;
    top: 17%;
    left: 5%
}

.chartTop {
    position: absolute;
    top: 40%;
    left: 7%
}

.chartBottom {
    position: absolute;
    top: 050%;
    left: 3%
}

.options {
    position: absolute;
    top: 66%;
    left: 7%

}

.nextQ {
    position: absolute;
    top: 85%;
    right: 28%;
    width: 36%;
    transition: transform 0.3s ease, filter 0.3s ease;
    pointer-events: auto;
    z-index: 9999;
}

.nextQ:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.8));
}

.nextQ:active {
    transform: scale(0.95);
}

.answer4 { 
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-top: 3px;
    right: 13%;
    top: 46%;
}

.answer4Input {
    position: relative;
    margin-top: 10px;              
    padding: 5px 15px;            
    width: 25%;                      
    max-width: 600px;              
    background-color: #FFEBCD;
    color: rgba(51, 102, 51, 0.7);            
    border: none;                    
    border-radius: 30px;             
    font-size: 1.2rem;              
    text-align: center;            
    outline: none;   
    left: 21%; 
    bottom: 0%;  
    height: 10%;             
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

.answer4Input::placeholder {
    color: #014725;
    opacity: 0.7;
}


@media (max-width: 768px) {
    .nameInput {
        width: 14%;   
        font-size: 1rem;
        padding: 12px 15px;
    }
}
.answer5 { 
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-top: 3px;
    right: 40%;
    top: 46%;
}

.answer5Input {
    position: relative;
    margin-top: 10px;              
    padding: 5px 15px;            
    width: 25%;                      
    max-width: 600px;              
    background-color: #FFEBCD;
    color: rgba(51, 102, 51, 0.7);            
    border: none;                    
    border-radius: 30px;             
    font-size: 1.2rem;              
    text-align: center;            
    outline: none;   
    left: 21%; 
    bottom: 0%;  
    height: 10%;             
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

.answer5Input::placeholder {
    color: #014725;
    opacity: 0.7;
}


@media (max-width: 768px) {
    .nameInput {
        width: 14%;   
        font-size: 1rem;
        padding: 12px 15px;
    }
}

.answer6 { 
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-top: 3px;
    right: 40%;
    top: 58.5%;
}

.answer6Input {
    position: relative;
    margin-top: 10px;              
    padding: 5px 15px;            
    width: 25%;                      
    max-width: 600px;              
    background-color: #FFEBCD;
    color: rgba(51, 102, 51, 0.7);            
    border: none;                    
    border-radius: 30px;             
    font-size: 1.2rem;              
    text-align: center;            
    outline: none;   
    left: 21%; 
    bottom: 0%;  
    height: 10%;             
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

.answer6Input::placeholder {
    color: #014725;
    opacity: 0.7;
}


@media (max-width: 768px) {
    .nameInput {
        width: 14%;   
        font-size: 1rem;
        padding: 12px 15px;
    }
}

.cube1 {
    position: absolute;
    top: 67%;
    left: 41%;
    width: 50px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: grab;
    z-index: 2000;
}

.cube2 {
    position: absolute;
    top: 78%;
    left: 9%;
    width: 65px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: grab;
    z-index: 2000;
}

.cube3 {
    position: absolute;
    top: 72%;
    left: 82%;
    width: 50px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: grab;
    z-index: 2000;

}

.cube4 {
    position: absolute;
    top: 72%;
    left: 69%;
    width: 50px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: grab;
    z-index: 2000;

}

.cube5 {
    position: absolute;
    top: 72%;
    left: 40%;
    width: 120px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: grab;
    z-index: 2000;
}
.cube6 {
    position: absolute;
    top: 78%;
    left: 64%;
    width: 120px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: grab;
    z-index: 2000;
}
.cube7 {
    position: absolute;
    top: 78%;
    left: 51%;
    width: 50px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: grab;
    z-index: 2000;
}
.cube8 {
    position: absolute;
    top: 67%;
    left: 11%;
    width: 120px;
    height: 50px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: grab;
    z-index: 2000;
}
.cube9 {
    position: absolute;
    top: 78%;
    left: 26%;
    width: 100px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: grab;
    z-index: 2000;
}

.cube1, .cube2, .cube3, .cube4, .cube5, .cube6, .cube7, .cube8, .cube9 {
  position: absolute;
  cursor: grab;
 z-index: 10000000;
}

.textBlob7,.textBlob8 {
  position: absolute;
}

.zoom {
    transition: transform 0.4s ease;
}

.zoom.zoomed {
    transform: scale(1.5);
    transform-origin: center center;
    z-index: 20;
}

.qoardinatot {
    cursor: grab;
    touch-action: none;
}

.qoardinatot:active {
    cursor: grabbing;
}

.zoomContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform-origin: center center;
    transition: transform 0.4s ease;
}

.zoomContainer.zoomed {
    transform: scale(1.5);
}

/* 转转 砖专转  砖专转 */
.taza {
    position: absolute;
    width: 59%;
    left: 37%;
    top: 25%;
}

.qoardinatot {
    position: absolute;
    width: 69%;
    left: -17%;
    top: 23%;
    cursor: grab;
    touch-action: none;
}

@media (max-width: 768px) {
  .zoomContainer.zoomed {
    transform: scale(1.25);
  }
}
.zoomWrapper {
    position: absolute;
    left: 91%;
    top: 43%;
    z-index: 10;
}

.zoomIn {
    cursor: pointer;
    display: block;
}

/* 注转 拽住 */
.zoomWrapper::after {
    content: "抓 注 ";
    position: absolute;
    bottom: 110%;
    right: 170%;
    transform: translateX(50%);
    background: rgba(255, 235, 205, 0.9);
    color: #C57948;
    padding: 6px 10px;
    border-radius: 12px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* 抓 */
.zoomWrapper::before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 50%;
    transform: translateX(50%);
    border-width: 6px;
    border-style: solid;
    border-color: rgba(255, 235, 205, 0.9) transparent transparent transparent;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/*  驻注 -hover 专拽 住拽驻 */
@media (hover: hover) and (pointer: fine) {
  .zoomWrapper:hover::after,
  .zoomWrapper:hover::before {
      opacity: 1;
      transform: translateX(50%) translateY(-5px);
  }
}

/*  驻注 -tap (JS 住祝 拽) */
.zoomWrapper.showTooltip::after,
.zoomWrapper.showTooltip::before {
    opacity: 1;
    transform: translateX(50%) translateY(-5px);
}

.textBlob7 {
    position: absolute;
    top: 58.5%;
    left: 7%;
    height: 6.2.3%;
    width: 29%;
}

.textBlob8 {
    position: absolute;
    top: 58.5%;
    left: 34%;
    height: 8.8%;
    width: 32%;
}