body {
    margin: 0;
    min-height: 100vh;
    background-image: url("assets/backgrounds/q6B.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "rubik-medium"
}

@font-face {
    font-family: "rubik-medium" ;
    src: url("assets/fonts/Rubik-Medium.ttf");
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px 16px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bislamchIcon {
    position: absolute;
    width: 10%;
    height: 70%;
    top: 5%;
    left: 10%;
}

.gapaIcon {
   position: relative;
    width: 34%;
    height: 120%;
    top: 0%;
    left: 10%;
}

.peleIcon {
    position: absolute;
    width: 20%;
    height: 40%;
    top: 20%;
    right: 3%;
    transition: transform 0.6s ease;
}

.peleIcon:hover {
    transform: rotate(360deg);
}

.steps {
    position: absolute;
    top: 95%;
    left: 5%;
}

.options {
    position: absolute;
    top: 66%;
    left: 10.4%
}

.nextQ {
    position: absolute;
    top: 85%;
    right: 20%;
    width: 60%;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.nextQ:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.8));
}

.nextQ:active {
    transform: scale(0.95);
}

.qTitle {
    position: absolute;
    right: 0%;
    top: 6%;
}

.timerBlob {
    position: absolute;
    right: 70%;
    top: 8%;
}

#timerQ6 {
  font-size: 1.8rem;
  color: #F5CC8E;
  margin-bottom: 20px;
  position: absolute;
  right: 72.8%;
  top: 8.5%;
}

.instructions{
    position: absolute;
    top: 16%;
    left: 5%
}

.textBlob1 {
    position: absolute;
    left: 10%;
    top: 25%;
}

.textBlob2 {
    position: absolute;
    left: 70%;
    top: 25%;
}

.textBlob3 {
    position: absolute;
    left: 10%;
    top: 40%;
}

.textBlob4 {
    position: absolute;
    left: 70%;
    top: 40%;
}

.textBlob5 {
    position: absolute;
    left: 10%;
    top: 57%;
}

.textBlob6 {
    position: absolute;
    left: 40%;
    top: 33%;
}

.textBlob7 {
    position: absolute;
    left: 40%;
    top: 49%;
}

.cubeTag1 {
    position: absolute;
    top: 67%;
    left: 46%;
    width: 70px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.cubeTag2 {
    position: absolute;
    top: 67%;
    left: 31%;
    width: 60px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.cubeTag3 {
    position: absolute;
    top: 67%;
    left: 16%;
    width: 60px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.cubeTag4 {
    position: absolute;
    top: 72%;
    left: 77%;
    width: 60px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.cubeTag5 {
    position: absolute;
    top: 26.5%;
    left: 76.5%;
    width: 60px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.cubeTag6 {
    position: absolute;
    top: 34.5%;
    left: 43%;
    width: 94px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.cubeTag7 {
    position: absolute;
    top: 72%;
    left: 54%;
    width: 94px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.cubeTag8 {
    position: absolute;
    top: 72%;
    left: 39%;
    width: 60px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.cubeTag9 {
    position: absolute;
    top: 72%;
    left: 13%;
    width: 100px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.cubeTag10 {
    position: absolute;
    top: 78%;
    left: 68%;
    width: 100px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.cubeTag11 {
    position: absolute;
    top: 78%;
    left: 51%;
    width: 70px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.cubeTag12 {
    position: absolute;
    top: 78%;
    left: 34%;
    width: 70px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.cubeTag13 {
    position: absolute;
    top: 78%;
    left: 16%;
    width: 70px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

.cubeTag1,.cubeTag2,.cubeTag3,.cubeTag4,.cubeTag5,.cubeTag6,.cubeTag7,
.cubeTag8,.cubeTag9,.cubeTag10,.cubeTag11,.cubeTag12,.cubeTag13 {
  position: absolute;
  cursor: grab;
}

.textBlob1,.textBlob2,.textBlob3,.textBlob4,.textBlob5,.textBlob6,.textBlob7 {
  position: absolute;
}
