body {
    margin: 0;
    min-height: 100vh;
    background-image: url("assets/backgrounds/q7B.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "rubik-medium"
}

@font-face {
    font-family: "rubik-medium" ;
    src: url("assets/fonts/Rubik-Medium.ttf");
}


.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px 16px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bislamchIcon {
    position: absolute;
    width: 10%;
    height: 70%;
    top: 5%;
    left: 10%;
}

.gapaIcon {
   position: relative;
    width: 34%;
    height: 120%;
    top: 0%;
    left: 10%;
}

.peleIcon {
    position: absolute;
    width: 20%;
    height: 40%;
    top: 20%;
    right: 3%;
    transition: transform 0.6s ease;
}

.peleIcon:hover {
    transform: rotate(360deg);
}

.steps {
    position: absolute;
    top: 95%;
    left: 11%;
}

.steps {
    position: absolute;
    top: 95%;
    left: 5%;
}

.qTitle {
    position: absolute;
    right: 0%;
    top: 6%;
}

.timerBlob {
    position: absolute;
    right: 70%;
    top: 8%;
}

#timerQ7 {
  font-size: 1.8rem;
  color: #F5CC8E;
  margin-bottom: 20px;
  position: absolute;
  right: 72.8%;
  top: 8.5%;
}

.instructions{
    position: absolute;
    top: 17%;
    left: 0%
}

.nextQ7 {
    position: absolute;
    top: 85%;
    right: 28%;
    width: 34%;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.nextQ7:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.8));
}

.nextQ7:active {
    transform: scale(0.95);
}

.options {
    position: absolute;
    top: 65%;
    left: 3%
}

.tazaQ7 {
    position: absolute;
    top: 26%;
    right:0%;
}

.cubeT1 {
    position: absolute;
    top: 77%;
    left: 41%;
    width: 60px;
    height: 40px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: grab;
    z-index: 2000;
}

.cubeT2 {
    position: absolute;
    top: 75%;
    left: 12%;
    width: 120px;
    height: 50px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: grab;
    z-index: 2000;
}

.cubeT3 {
    position: absolute;
    top: 70%;
    left: 77%;
    width: 60px;
    height: 50px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: grab;
    z-index: 2000;

}

.cubeT4 {
    position: absolute;
    top: 66%;
    left: 43%;
    width: 70px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: grab;
    z-index: 2000;

}

.cubeT5 {
    position: absolute;
    top: 70.4%;
    left: 45%;
    width: 120px;
    height: 40px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: grab;
    z-index: 2000;
}
.cubeT6 {
    position: absolute;
    top: 78%;
    left: 79%;
    width: 50px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: grab;
    z-index: 2000;
}
.cubeT7 {
    position: absolute;
    top: 78%;
    left: 55.5%;
    width: 100px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: grab;
    z-index: 2000;
}
.cubeT8 {
    position: absolute;
    top: 67%;
    left: 13%;
    width: 120px;
    height: 50px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: grab;
    z-index: 2000;
}
.cubeT9 {
    position: absolute;
    top: 75%;
    left: 28%;
    width: 100px;
    height: 30px;
    background-color: #E3B06A;
    color: #014725;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: grab;
    z-index: 2000;
}

.cube1, .cube2, .cube3, .cube4, .cube5, .cube6, .cube7, .cube8, .cube9 {
  position: absolute;
  cursor: grab;
 z-index: 10000000;
}

.circle-outline {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid #FFEBCD;
  background: transparent;

  box-shadow: 0 0 12px rgba(255, 235, 205, 0.8); /* glow עדין */
}

#c1 {
    position: absolute; 
    top: 33.5%; 
    left: 40%;
}

#c2 {
    position: absolute; 
    top: 34%; 
    left: 64%;
}

#c3 {
    position: absolute; 
    top: 57%; 
    left: 45.5%;
}

#c4 {
    position: absolute; 
    top: 45.5%; 
    left: 58%;
}

#c5 {
    position: absolute; 
    top: 29%; 
    left: 23%;
}

#c6 {
    position: absolute; 
    top: 41%; 
    left: 14%;
}

#c7 {
    position: absolute; 
    top: 39%; 
    left: 57%;
}

#c8 {
    position: absolute; 
    top: 50.5%; 
    left: 73%;
}

#c9 {
    position: absolute; 
    top: 56%; 
    left: 31%;
}

#c10 {
    position: absolute; 
    top: 30.5%; 
    left: 67%;
}
