body {
    margin: 0;
    min-height: 100vh;
    background-image: url("assets/backgrounds/startPageB.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "rubik-medium"
}

@font-face {
    font-family: "rubik-medium" ;
    src: url("assets/fonts/Rubik-Medium.ttf");
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px 16px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bislamchIcon {
    position: absolute;
    width: 10%;
    height: 70%;
    top: 5%;
    left: 10%;
}

.gapaIcon {
   position: relative;
    width: 34%;
    height: 120%;
    top: 0%;
    left: 10%;
}

.peleIcon {
    position: absolute;
    width: 20%;
    height: 40%;
    top: 20%;
    right: 3%;
    transition: transform 0.6s ease;
}

.peleIcon:hover {
    transform: rotate(360deg);
}

.title1 {
    position: absolute;
    top: 6%;
    left: 15%
}

.title2 {
    position: absolute;
    top: 30%;
    left: 2%
}

.title3 {
    position: absolute;
    top: 40%;
    left: 3%
}

.scoreBlob {
    position: absolute;
    top: 60%;
    left: 39%;
}

.personalInfo {
    color: #014725;
    position: absolute;
    top: 22%;
    left: 42%; 
    z-index: 10;
    font-size: 1rem;
    text-align: center;
}

.scoreInfo {
    color: #014725;
    position: absolute;
    top: 60%;
    left: 50%; 
    z-index: 10;
    font-size: 2rem;;
}

.nameBlob {
    position: absolute;
    top: 22%;
    left: 26%;
    width: 50%;
    height: 15%;
}

.nextQ {
    position: absolute;
    top: 73%;
    right: 16%;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.nextQ:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.8));
}

.nextQ:active {
    transform: scale(0.95);
}