body {
    margin: 0;
    min-height: 100vh;
    background-image: url("assets/backgrounds/startPageB.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    direction: ltr;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px 16px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bislamchIcon {
    position: absolute;
    width: 10%;
    height: 70%;
    top: 5%;
    left: 10%;
}

.gapaIcon {
   position: relative;
    width: 34%;
    height: 120%;
    top: 0%;
    left: 10%;
}

.peleIcon {
    position: absolute;
    width: 20%;
    height: 40%;
    top: 20%;
    right: 3%;
    transition: transform 0.6s ease;
}

.peleIcon:hover {
    transform: rotate(360deg);
}

.title {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.button {
    position: absolute;
    top: 70%;
    left: 55%;
    transform: translateX(-50%);
    cursor: pointer;    
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.button:hover {
    transform: translateX(-50%) scale(1.1);
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.8));
}

.button:active {
    transform: translateX(-50%) scale(0.95);
}

.credit {
    position: absolute;
    align-items: center;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
}

.dustBall {
    position: absolute;
    align-items: center;
    top: 45%;
    right: -9%;
    animation: rollDust 6s linear infinite;
    -webkit-animation: rollDust 3s linear infinite; /* Safari/Chrome */
    -moz-animation: rollDust 3s linear infinite;    /* Firefox */
    -ms-animation: rollDust 3s linear infinite;     /* IE10+ */
}

@keyframes rollDust {
    0% {
        transform: translateX(0) translateY(0) rotate(0deg);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    50% {
        transform: translateX(-60vw) translateY(-10px) rotate(-360deg);
    }

    100% {
        transform: translateX(-120vw) translateY(0) rotate(-720deg);
        opacity: 0;
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rollDust {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        -webkit-transform: translateX(-60vw) translateY(-10px) rotate(-360deg);
    }
    100% {
        -webkit-transform: translateX(-120vw) translateY(0) rotate(-720deg);
        opacity: 0;
    }
}

/* Firefox */
@-moz-keyframes rollDust {
    0% {
        -moz-transform: translateX(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        -moz-transform: translateX(-60vw) translateY(-10px) rotate(-360deg);
    }
    100% {
        -moz-transform: translateX(-120vw) translateY(0) rotate(-720deg);
        opacity: 0;
    }
}

/* IE10+ */
@-ms-keyframes rollDust {
    0% {
        -ms-transform: translateX(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        -ms-transform: translateX(-60vw) translateY(-10px) rotate(-360deg);
    }
    100% {
        -ms-transform: translateX(-120vw) translateY(0) rotate(-720deg);
        opacity: 0;
    }
}

/* Standard */
@keyframes rollDust {
    0% {
        transform: translateX(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        transform: translateX(-60vw) translateY(-10px) rotate(-360deg);
    }
    100% {
        transform: translateX(-120vw) translateY(0) rotate(-720deg);
        opacity: 0;
    }
}
